<h1>Root#welcome</h1>
<p>Find me in app/views/root/welcome.html.erb</p>

<%= link_to "一般路由,参数：0.618", {controller: "root", action: "myAction", sub: 0.618} %> | 
<%= link_to "rails约定的一般路由,参数：3.14", {controller: "root", action: "first", sub: 3.14} %> | 
<%= link_to "命名路由,参数：1.4143", aaa_path(sub: 1.4143) %> <br/>
<%= link_to '资源路由' , books_path %>
